.home .container  {
    justify-content: space-between;
    display: flex;
    background-color: #F3F3F3;
}

.home .logo-img{
    max-width: 190px;
    width: 100%;
    height: 56.88px;
}

.home .btn{
    width: 211px;
    height: 50px;   
    background-color: #2EAFB2;
    color: white;

    margin-top: 11px;
    margin-left: 37px;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.home a{
    color: white;
    text-decoration: none;

}